@import "../library.blocks/bootstrap/bootstrap-reboot";

.back-to-top {
  background: url("#{$rootDir}/img/recommendation/Group8.svg") no-repeat center;
  background-size: cover;
  width: 51px;
  height: 51px;
  position: fixed;
  right: 40px;
  bottom: 50px;
  border-radius: 50px !important;
  opacity: 0.3;
  z-index: 600;
}

.back-to-top:hover {
  opacity: 1;
}

@include media-breakpoint-between(xs,sm) {
  .main .back-to-top {
    display: none;
  }
}