@import "../library.blocks/bootstrap/bootstrap-reboot";

.blocks-info {
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 47px;
}

.blocks-payment {
  justify-content: flex-start;
  margin-top: 2px;
  margin-bottom: 47px;
}

.block-info {
  display: flex;
  align-items: center;
  background: #FAF8F4;
  width: 261px;
  height: 99px;
  margin-top: 12px;

  .block-info__text {
    text-decoration: none;
  }
}

.block-info:hover {
  background: #EBAD45;

  .block-info__text {
    color: #fff !important;
  }

  .block-info__marker,
  .block-info__desk,
  .block-info__metro,
  .block-info__man,
  .block-info__parcel,
  .block-info__cash,
  .block-info__yandex,
  .block-info__credit-cards,
  .block-info__webmoney {
    filter: sepia(100%) brightness(300%);
  }
}

.block-info:nth-child(1),
.block-info:nth-child(2),
.block-info:nth-child(4),
.block-info:nth-child(5) {
  margin-right: 16px;
}


.blocks-info .active {
  background: #EBAD45;
  color: #ffffff;

  .block-info__text {
    color: #fff;
  }
}

.block-info__desk {
  background: url("#{$rootDir}/img/forms-img/desk.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 33px;
  margin-left: 19px;
  margin-right: 14px;
}

.block-info__marker {
  background: url("#{$rootDir}/img/forms-img/placeholder.svg") no-repeat center;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  margin-left: 23px;
  margin-right: 15px;
}

.block-info__marker-second {
  margin-left: 28px;
  margin-right: 18px;
}

.block-info__metro {
  background: url("#{$rootDir}/img/forms-img/tbilisi-metro-logo-symbol.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 24px;
  margin-left: 23px;
  margin-right: 13px;
}

.block-info__man {
  background: url("#{$rootDir}/img/forms-img/delivery-man.svg") no-repeat center;
  background-size: 100% auto;
  width: 33px;
  height: 38px;
  margin-left: 19px;
  margin-right: 17px;
}

.block-info__parcel {
  background: url("#{$rootDir}/img/forms-img/parcel.svg") no-repeat center;
  background-size: 100% auto;
  width: 39px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.block-info__cash {
  background: url("#{$rootDir}/img/forms-img/banknote.svg") no-repeat center;
  background-size: 100% auto;
  width: 36px;
  height: 28px;
  margin-left: 16px;
  margin-right: 17px;
}

.block-info__yandex {
  background: url("#{$rootDir}/img/forms-img/yandex-pay-logo.svg") no-repeat center;
  background-size: 100% auto;
  width: 27px;
  height: 26px;
  margin-left: 21px;
  margin-right: 21px;
}

.block-info__sberbank {
  background: url("#{$rootDir}/img/forms-img/sber.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 31px;
  height: 29px;
  margin-left: 20px;
  margin-right: 27px;
}

.block-info__credit-cards {
  background: url("#{$rootDir}/img/forms-img/visa-pay-logo.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 42px;
  height: 13px;
  margin-left: 14px;
  margin-right: 13px;
}

.block-info__webmoney {
  background: url("#{$rootDir}/img/forms-img/webmoney-paying-logo.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 24px;
  height: 23px;
  margin-left: 26px;
  margin-right: 19px;
}

.block-info__text {
  color: #333333;
  font-size: 16px;
}