@import "../library.blocks/bootstrap/bootstrap-reboot";

.basket-caption {

  .basket-caption__name {

    p {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
    }
  }

  .basket-caption__info {
    display: flex;
    margin-left: auto;

    p {
      font-size: 24px;
      color: #555555;
      margin-left: 60px;
      font-weight: bold;
    }

    .basket-caption__time {
      display: flex;
      margin-left: auto;

      .basket-caption__number {
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        width: 30px;
        height: 46px;
        position: relative;
        bottom: 5px;
        margin-left: 7px;

        p {
           margin: 0;
           position: relative;
           top: 5px;
           left: 8px;
           color: $primary;
         }

        .basket-caption__one {
          margin: 0;
          position: relative;
          top: 5px;
          left: 10px;
          color: $primary;
        }
      }

      span  {
        font-size: 20px;
        margin-left: 6px;
      }
    }
  }

  table {

    .last-cell {
      padding-left: 25px;
      padding-right: 15px;
    }

    .trashcan {
      background: url("../../img/table-img/delete-photo.svg") no-repeat center;
      background-size: 100% auto;
      position: relative;
      bottom: 5px;
      left: 5px;
      width: 14px;
      height: 20px;
    }
    
    .regulator {
      background: #FAEFDC;
      border-radius: 20px;
      width: 92px;
      height: 40px;
      position: relative;
      left: 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      span  {
        font-size: 16px;
        font-weight: bold;
        background: #ffffff;
        height: 38px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span:after  {
        content: '';
        background: url("../../img/table-img/plus.svg") no-repeat center;
        background-size: 100% auto;
        position: absolute;
        right: 10px;
        top: 13px;
        width: 11px;
        height: 11px;
      }

      span:before  {
        content: '';
        background: url("../../img/table-img/minus.svg") no-repeat center;
        background-size: 100% auto;
        position: absolute;
        left: 10px;
        top: 18px;
        width: 11px;
        height: 2px;
      }
    }

    .table__bold-text {
      font-weight: bold;
      color: #555555;
      font-size: 18px;
    }
    
    .table__color-text {
      color: $secondary;

    }

    thead {
      tr {
        th {
          font-size: 18px;
        }
      }
    }
  }
  
  .basket-caption__totals {
    background: #FAF8F4;
    width: 368px;
    height: 67px;
    margin-left: auto;
    margin-bottom: 32px;

    p, span {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 0;
      margin-left: 100px;
    }

    span {
      margin-left: 70px;
    }
    
    .basket-caption__cross {
      background: #EDE7D9;
      width: 57px;
      height: 67px;
      margin-left: auto;

      img {
        position: relative;
        top: 20px;
        left: 22px;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-success {
      margin-right: 18px;
      font-size: 16px;
    }

    .btn-light {
      margin-right: 82px;
      font-size: 16px;
    }

    .btn-primary {
      font-size: 16px;
    }
  }
}