@import "../library.blocks/bootstrap/bootstrap-reboot";

.basket-caption {

  .basket-caption__name {

    .basket-caption__title {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
    }
  }

  .basket-caption__info {
    display: flex;
    margin-left: auto;

    .basket-caption__info-title {
      font-size: 24px;
      color: #555555;
      margin-left: 60px;
      font-weight: bold;
    }

    .basket-caption__time {
      display: flex;
      margin-left: auto;

      .basket-caption__number {
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        width: 30px;
        height: 46px;
        position: relative;
        bottom: 5px;
        margin-left: 7px;

        .basket-caption__number-second,
        .basket-caption__number-third,
        .basket-caption__number-fourth {
          margin: 0;
          position: relative;
          top: 5px;
          left: 8px;
          color: $primary;
          font-size: 24px;
          font-weight: bold;
         }

        .basket-caption__number-first {
          margin: 0;
          position: relative;
          top: 5px;
          left: 10px;
          color: $primary;
          font-size: 24px;
          font-weight: bold;
        }
      }

      span  {
        font-size: 20px;
        margin-left: 6px;
      }
    }
  }

  table {
    .last-cell {
      padding-left: 25px;
      padding-right: 15px;

      .trashcan {
        display: block;
        background: url("../../img/table-img/delete-photo.svg") no-repeat center;
        background-size: 100% auto;
        position: relative;
        bottom: 5px;
        width: 14px;
        height: 20px;
        z-index: 100;
      }
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .quantity-block {
      background: #FAEFDC;
      border-radius: 20px;
      width: 92px;
      height: 40px;
      position: relative;
      left: 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 12px;
    }

    .quantity-arrow-minus {
      cursor: pointer;
      border: none;
      background: url("../../img/table-img/minus.svg") no-repeat center;
      background-size: 11px 2px;
      position: absolute;
      left: 0;
      top: 0;
      width: 31px;
      height: 40px;
    }
    .quantity-arrow-plus {
      cursor: pointer;
      border: none;
      background: url("../../img/table-img/plus.svg") no-repeat center;
      background-size: 11px 11px;
      position: absolute;
      right: 0;
      top: 0;
      width: 31px;
      height: 40px;
    }

    .quantity-num {
      width: 30px;
      height: 38px;
      font-size: 16px;
      font-weight: bold;
      padding: 5px 10px;
      border: none;
    }

    .table__bold-text {
      font-weight: bold;
      color: #555555;
      font-size: 18px;
    }
    
    .table__link {
      color: $secondary;

    }

    thead {
      tr {
        th {
          font-size: 18px;
        }
      }
    }
  }
  
  .basket-caption__totals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAF8F4;
    width: 368px;
    height: 67px;
    margin-left: auto;
    margin-bottom: 32px;

    .basket-caption__titles, .basket-caption__price {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 0;
      margin-left: 100px;
    }

    .basket-caption__price {
      margin-left: 70px;
    }
    
    .basket-caption__cross {
      background: #EDE7D9;
      width: 57px;
      height: 67px;
      margin-left: auto;

      img {
        position: relative;
        top: 20px;
        left: 24px;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-success {
      margin-right: 18px;
      font-size: 16px;
    }

    .btn-light {
      margin-right: 22px;
      font-size: 16px;
    }

    .btn-primary {
      font-size: 16px;
    }
  }
}

.table__information-subject {
  text-align: left !important;
  padding-left: 10px;
  color: #555;
  font-size: 16px;
}