@import "../library.blocks/bootstrap/bootstrap-reboot";

.cart-table {
  width: 100%;
}

.cart-content {
  position: relative;

  .cart-content__name {

    .cart-content__title {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
    }
  }

  .cart-content__info {
    display: flex;
    margin-left: auto;
    position: relative;
  }

  .cart-content__info-title {
    font-size: 24px;
    color: #555555;
    margin-left: 60px;
    font-weight: bold;
  }

  .cart-content__time {
    display: flex;
    margin-left: auto;
  }

  .cart-content__number {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    width: 30px;
    height: 46px;
    position: relative;
    bottom: 5px;
    margin-left: 7px;
  }

  .cart-content__number-second,
  .cart-content__number-third,
  .cart-content__number-fourth {
    margin: 0;
    position: relative;
    top: 5px;
    left: 8px;
    color: $primary;
    font-size: 24px;
    font-weight: bold;
  }

  .cart-content__number-first {
    margin: 0;
    position: relative;
    top: 5px;
    left: 10px;
    color: $primary;
    font-size: 24px;
    font-weight: bold;
  }

  .cart-content__colon  {
    font-size: 20px;
    margin-left: 6px;
  }

  .cart-table__main {
    .cart-table__last-cell {
      padding-left: 25px;
      padding-right: 15px;

      .cart-table__trashcan {
        display: block;
        background: url("#{$rootDir}/img/table-img/delete-photo.svg") no-repeat center;
        background-size: 100% auto;
        position: relative;
        bottom: 5px;
        width: 14px;
        height: 20px;
        z-index: 100;
      }
    }

    thead {
      tr {
        th {
          font-size: 18px;
        }
      }
    }
  }

  
  .cart-table__totals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAF8F4;
    width: 368px;
    height: 67px;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .cart-table__totals-titles,
  .cart-table__totals-price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 100px;
  }

  .cart-table__totals-price {
    margin-left: 90px;
  }

  .cart-table__totals-cross {
    background: #EDE7D9;
    width: 57px;
    height: 67px;
    margin-left: auto;
  }

  .cart-table__totals-cross-img {
    position: relative;
    top: 20px;
    left: 24px;
  }

  .cart-content__button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
}

.cart-content__button-continue {
  margin-right: 22px;
  font-size: 16px;
}

.cart-content__button-issue {
  font-size: 16px;
}

.cart-table__information-subject {
  text-align: left !important;
  padding-left: 10px;
  color: #555;
  font-size: 16px;
  width: 280px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.cart-table__block {
  background: #FAEFDC;
  border-radius: 20px;
  width: 92px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.cart-table__block-minus {
  cursor: pointer;
  border: none;
  background: url("#{$rootDir}/img/table-img/minus.svg") no-repeat center;
  background-size: 11px 2px;
  position: absolute;
  left: 0;
  top: 0;
  width: 31px;
  height: 40px;
}
.cart-table__block-plus {
  cursor: pointer;
  border: none;
  background: url("#{$rootDir}/img/table-img/plus.svg") no-repeat center;
  background-size: 11px 11px;
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
  height: 40px;
}

.cart-table__block-num {
  width: 30px;
  height: 38px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
}

.cart-table__bold-text {
  font-weight: bold;
  color: #555555;
  font-size: 18px;
}

.cart-table__link {
  color: $secondary;
}

.cart-table__link-img {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 54px;
  width: 101px;
  display: block;
  position: relative !important;
}



.cart-table__link:hover {
  color: $secondary;
}

.cart-table__name-country {
  width: 154px;
}

.cart-table__th-vertical {
  transform: rotate(270deg);
  text-align: center;
  padding: 30px 0;
  margin: 0 -30px;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.cart-table__first-vertical-th {
  margin-top: 22px;
  margin-bottom: 20px;
}

.cart-table__th-grey {
  background-color: #E2DAC8;
}

th:first-child {
  width: 20px;
  background-color: #EDE7D9;
  padding: 0;
}

tbody {
  border-right: 1px solid #D8D8D8;
}

.cart-table .cart-table__cell-angle {
  background: #DFA23C;
}

.cart-table .cart-table__last-cell-img {
  display: block;
  background: url("#{$rootDir}/img/table-img/cross.svg") no-repeat center;
  background-size: 100% auto;
  width: 19px;
  height: 19px;
}

.cart-table__year {
  position: relative;
}

.cart-table__totals-cross-mobil {
  display: none;
}

.cart-table__totals-content {
  display: flex;
}

.cart-table .cart-content__button-group {
  margin-left: auto;
}

.cart-table .cart-header__title, .cart-header__title-ordering {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
}

.cart-content__container {
  display: flex;
  align-items: center;
}

.cart-table__link-img-big {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 10px 15px #aaa;
  width: 600px;
  height: 325px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 800;
  display: none;
}

.cart-table__lines {
  position: relative !important;
}

.cart-table__link-img:hover .cart-table__link-img-big {
  display: block;
}

@include media-breakpoint-between(xs,sm)  {
  .main {

    table {
      border-collapse: inherit;

      td {
        border: none;
        padding: 7px 14px;
      }
    }

    .cart-header__title, .cart-header__title-ordering {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin-top: 14px;
    }

    .cart-header__title:after {
      content: 'до:';
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      margin-left: 5px;
    }

    .cart-content__info-title {
      display: none;
    }

    .cart-content__number {
      height: 32px;
    }

    .cart-content__number-second,
    .cart-content__number-third,
    .cart-content__number-fourth {
      margin: 0;
      position: relative;
      top: 3px;
      left: 4px;
      color: $primary;
      font-size: 18px;
      font-weight: bold;
    }

    .cart-content__number-first {
      margin: 0;
      position: relative;
      top: 3px;
      left: 5px;
      color: $primary;
      font-size: 18px;
      font-weight: bold;
    }

    .cart-content__colon  {
      font-size: 20px;
      margin-left: 6px;
      position: relative;
      bottom: 4px;
    }

    .cart-content__info {
      position: absolute;
      top: 15px;
    }

    .cart-content__time {
      width: 118px;
      margin-left: auto;
    }

    thead {
      display: none;
    }

    .cart-table {
      width: 100%;
    }

    .cart-table__th-grey {
      display: none;
    }

    .cart-table__last-cell {
      display: block;
      position: absolute;
      top: 164px;
      right: 0;
    }

    .cart-table__last-cell-img {
      display: block;
      background: url("#{$rootDir}/img/table-img/close.svg") no-repeat center;
      background-size: 100% auto;
      width: 38px;
      height: 38px;
    }

    .cart-table__img {
      display: block;
      border-bottom: 1px solid #FAEFDC;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }

    .cart-table__color-text {
      display: block;
      position: relative;
    }

    .cart-table__year {
      display: block;
      margin-left: 42px;
    }

    .cart-table__information-subject {
      display: block;
      position: relative;
      font-size: 14px;
      padding-left: 20px;
      padding-top: 25px;
      color: #333333;
    }

    .cart-table__information-subject:before {
      content: 'Описание:';
      position: absolute;
      top: 0;
      color: #777;
    }

    .cart-table__lines {
      position: relative;
      display: flex;
      flex-direction: column;
      border: 1px solid #F6E9CF;
      font-size: 14px;
      margin-bottom: 18px;
    }

    .cart-table__lines:nth-child(3),
    .cart-table__lines:nth-child(4) {
      display: none;
    }

    .cart-table__bold-text {
      display: inline-block;
    }

    .cart-table__sum {
      display: inline-block;
      margin-top: 20px;
    }

    .cart-table__country {
      margin-left: 70px;
      margin-top: 11px;
    }

    .cart-table__denomination {
      margin-left: 64px;
    }

    .cart-table__country:before {
      content: 'Страна:';
      color: #777777;
      position: absolute;
      left: -51px;
    }

    .cart-table__denomination:before {
      content: 'Наименование:';
      color: #777777;
      position: absolute;
      left: -45px;
    }

    .cart-table__year:before {
      content: 'Год:';
      color: #777777;
      position: absolute;
      left: -22px;
    }
    
    .cart-table__sum {
      background: #FAF8F4;
      padding-top: 0;
      padding-bottom: 0;
    }

    .cart-table__block {
      margin-top: 40px;
      margin-bottom: 20px;
      position: relative;
    }

    .cart-table__block:before {
      content: 'Кол-во';
      position: absolute;
      top: -30px;
      color: #777777;
    }

    .cart-table__price {
      position: absolute;
      bottom: 19px;
      left: 10px;
    }

    .cart-table__price:before {
      content: 'Цена';
      position: absolute;
      top: -30px;
      color: #777777;
      font-weight: normal;
      font-size: 14px;
    }

    .cart-table__amount {
      position: absolute;
      bottom: 19px;
      right: 10px;
    }

    .cart-table__amount:before {
      content: 'Сумма';
      position: absolute;
      top: -30px;
      color: #777777;
      font-weight: normal;
      font-size: 14px;
    }

    .cart-table__totals-cross-img {
      display: none;
    }

    .cart-table__totals {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      border: 1px solid #F6E9CF;
    }

    .cart-table__totals-titles {
      margin-left: 0;
    }

    .cart-table__totals-cross-mobil {
      display: block;
      font-size: 14px;
    }

    .cart-table__totals-cross {
      width: 100%;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cart-table__totals-content {
      display: flex;
      width: 100%;
      height: 62px;
      align-items: center;
      justify-content: space-around;
    }

    .cart-content__button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cart-content__button-continue {
      margin-right: 0;
      margin-top: 20px;
      order: 2;
      font-size: 16px;
    }

    .cart-content__button-issue {
      font-size: 16px;
      order: 1;
    }

    .cart-table__link-img {
      background-size: 80% auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      display: block;
      width: auto;
    }

    .card-coins__link {
      background-size: 80% auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      display: block;
    }

    .time-counter {
      display: none;
    }
  }
}

@include media-breakpoint-only(md) {

  .cart-content {

    .cart-table__description {
      min-width: 240px;
    }

    .cart-table__name-country {
      min-width: 155px;
    }

    .cart-content__button-group {
      justify-content: space-around;
    }

    .cart-content__container {
      align-items: start;
    }
  }

}

@include media-breakpoint-only(lg) {
  .cart-table__description {
    min-width: 245px;
  }

  .cart-table__name-country {
    min-width: 152px;
  }
}

@include media-breakpoint-only(xl) {

  .cart-table .cart-table__width {
    max-width: 1169px;
  }
}
