@import "../library.blocks/bootstrap/bootstrap-reboot";

.track-new {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.track-new__icon {
  background: url("#{$rootDir}/img/catalog/binoculars.svg") no-repeat center;
  background-size: 100% auto;
  width: 21px;
  height: 19px;
  display: inline-block;
  margin-right: 5px;
}

.country-filter {
  background: #FAF8F4;
}

.country-filter__header h3 {
  background: #252B7F;
  font-size: 16px;
  color: #ffffff;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.main {

  .country-filter-search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
  }

  .country-filter-search__content {
    background: #ffffff;
    justify-content: space-between;
    border: 1px solid #979797;
  }

  .country-filter-search__icon {
    background: url("#{$rootDir}/img/catalog/search.svg") no-repeat center;
    background-size: 100% auto;
    height: 14px;
    width: 14px;
    padding: 0;
    border: none;
    margin-right: 13px;
  }

  .country-filter-search__form {
    width: 85% !important;
    border: none;
    padding-left: 16px;
  }
}

.main .country-filter__radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}

.main .country-filter__radio-first {
  padding-left: 20px;
  padding-right: 40px;
}

.main .country-filter__radio-third {
  margin-top: 15px;
  padding-left: 20px;
}

.country-active-group__main {
  margin-left: 25px;
}

.country-active-group__header {
  margin-top: 30px;
}

.country-group-list__check-header {
  display: flex;
  align-items: center;
}

.country-group-list__check-header-letter {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-right: 10px;
  padding-left: 20px;
}

.country-group-list__check-header-line {
  background: #D8D8D8;
  height: 1px;
  width: 100%;
  margin-right: 50px;
}

///* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
//.country-filter__navigation-checkbox-custom {
//  position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
//  width: 100%;             /* Обязательно задаем ширину */
//  height: 18px;            /* Обязательно задаем высоту */
//  background: #FFF8E9;
//  display: block;
//  left: -3px;
//
//}
///* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
//.country-filter__navigation-letter {
//  display: inline-block;
//  vertical-align: middle;
//  color: #252B7F;
//  position: relative;
//  top: -19px;
//  left: 5px;
//  font-size: 14px;
//  text-align: center;
//}
//
//.country-filter__navigation-number {
//  display: inline-block;
//  vertical-align: middle;
//  color: #252B7F;
//  position: relative;
//  top: -19px;
//  left: 0;
//  font-size: 12px;
//  text-align: center;
//}
//
///* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
//.checkbox:checked + .country-filter__navigation-checkbox-custom:before {
//  content: "";         /* Добавляем наш псевдоэлемент */
//  display: block;			 /* Делаем его блочным элементом */
//  position: absolute;      /* Позиционируем его абсолютным образом */
//  /* Задаем расстояние от верхней, правой, нижней и левой границы */
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
//  font-size: 15px;
//  color: #fff;
//  text-align: center;
//  line-height: 15px;
//  background: #EAAC44;
//}
//
//.checkbox + .country-filter__navigation-checkbox-custom:before {
//  content: "";         /* Добавляем наш псевдоэлемент */
//  display: block;			 /* Делаем его блочным элементом */
//  position: absolute;      /* Позиционируем его абсолютным образом */
//  /* Задаем расстояние от верхней, правой, нижней и левой границы */
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
//  font-size: 15px;
//  color: #252B7F;
//  text-align: center;
//  line-height: 15px;
//  background: #FFF8E9;
//}

.country-filter__navigation {
  width: 28px;
  margin-top: 30px;
  margin-right: 5px;
}

.country-filter__navigation__paragraph {
  height: 10px;
}

.country-filter__navigation a {
  font-size: 14px;
  background: #FFF8E9;
  text-align: center;
  height: 20px;
  width: 28px;
}

.country-filter__navigation a:hover {
  background: $primary;
  text-decoration: none;
  color: #fff;
}

.form-check_main-countries {
  margin-bottom: 10px;
}

.main .catalog-main__filter-choice {
  display: flex;
  margin-top: 40px;
  background: #FAF8F4;
  padding-right: 20px;
  margin-left: 0;
  margin-right: 0;
}

.catalog-main__filter-dropdown-line {
  width: 1px;
  height: 1rem;
  background: $primary;
  position: relative;
  left: 18px;
}

.catalog-main__filter-link {
  display: flex;
  color: $secondary;
}

.catalog-main__filter-options {
  width: 25px;
  height: 25px;
  border: 1px solid $primary;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  margin-left: 10px;
}

.catalog-main__filter-options span {
  position: relative;
  top: 1px;
}

.catalog-main__filter-dropdown {
  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-main__filter-dropdown:hover {
  background: $primary;
}

.catalog-main__filter-dropdown:hover .catalog-main__filter-options {
  background: #FFFFFF;
}

.catalog-main__filter-dropdown:hover .catalog-main__filter-link {
  color: #fff;
}

.catalog-main__filter-link:after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: $caret-width * .85;
  vertical-align: $caret-width * .85;
  content: "";
  background: url("#{$rootDir}/img/catalog/more-btn.svg") no-repeat center;
  background-size: 100% auto;
  position: relative;
  bottom: -9px;
  right: -2px;
}

.catalog-main .catalog-main__filter-dropdown-menu {
  padding: 30px 50px 30px 50px;
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 320;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  margin-left: 15px;
  margin-right: 15px;
}

.catalog-main__filter:hover .catalog-main__filter-dropdown-menu {
  display: block;
}

.catalog-main__filter-dropdown-menu-block {
  float: left;
  display: flex;
  flex-direction: column;
}

.catalog-main__filter-dropdown-form {
  display: flex;
  align-items: center;
}

.catalog-main .catalog-main__filter-btn {
  padding: 8px 15px;
}

.catalog-main__filter-sbros-icon {
  background: url("#{$rootDir}/img/catalog/clouce.svg") no-repeat center;
  background-size: 100% auto;
  width: 11px;
  height: 11px;
  display: block;
}

.catalog-main__filter-sbros {
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

.catalog-main__filter-sbros a {
  display: flex;
  align-items: center;
  color: #777;
}

.catalog-main__filter-sbros i {
  margin-left: 10px;
}

.catalog-main__filter-dropdown-menu-block h5,
.catalog-main__filter-dropdown-menu h5 {
  color: $secondary;
  font-size: 16px;
  font-weight: bold;
}

.catalog-main {
  position: relative;
}

.catalog-main__filter {
  position: inherit !important;
  display: flex;
  align-items: center;
}

.catalog-main__filter:hover {
  background: $primary;
}

.catalog-main__filter:hover .catalog-main__filter-link {
  color: #fff;
}

.catalog-main__filter:hover .catalog-main__filter-link:after {
  background: url("#{$rootDir}/img/catalog/more-btn2.svg") no-repeat center;
  background-size: 100% auto;
}

.catalog-main__filter:hover .catalog-main__filter-options {
  background: #ffffff;
}

.catalog-main .catalog-main__filter-totals {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.catalog-main__filter-totals-year,
.catalog-main__filter-totals-metals {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.catalog-main__filter-totals-name {
  color: #777;
}

.catalog-main__filter-totals-block {
  border: 1px solid #F6E9CF;
  border-radius: 20px;
  padding: 5px 13px;
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #777;
}

.catalog-main__filter-totals-close {
  background: url("#{$rootDir}/img/catalog/clouce.svg") no-repeat center;
  background-size: 100% auto;
  width: 13px;
  height: 12px;
  margin-left: 10px;
}

.product-header__title {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.product-header .product-header__sort-block {
  border-bottom: 1px solid #BEBFD9;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}

.product-header__sort-list {
  display: flex;
  align-items: center;

  h6 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.product-header__sort-point {
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 5px;
  color: #777777;
  background: url(#{$rootDir}/img/catalog/Triangle1.svg) no-repeat right 22px, url(../../img/catalog/Triangle.svg) no-repeat right 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.product-header__sort-point.to-top {
  background: url(#{$rootDir}/img/catalog/Triangle-to-top.svg) no-repeat right 15px, url(../../img/catalog/Triangle1.svg) no-repeat right 22px;
  color: #333333;
  border-bottom: 1px solid #EAAC44;
}

.product-header__sort-point.to-bottom {
  background: url(#{$rootDir}/img/catalog/Triangle-to-bottom.svg) no-repeat right 22px, url(../../img/catalog/Triangle.svg) no-repeat right 15px;
  color: #333333;
  border-bottom: 1px solid #EAAC44;
}

.product-header .product-header__count-list {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  justify-content: flex-end;
}

.product-header__count-list .custom-select {
  border-radius: 0;
  border: 1px solid #BEBFD9;
  margin-left: 5px;
  width: 60px;
}

.profit-text {
  margin-bottom: 35px;
}

.profit-text__header {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 45px;
}

.profit-text__list {
  list-style: none;
}

.profit-text__cell {
  position: relative;
  padding-bottom: 10px;
  color: #555555;
}

.profit-text__cell:before {
  content: '';
  background: url("#{$rootDir}/img/catalog/Oval.svg") no-repeat center;
  background-size: 100% auto;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -20px;
  top: 7px;
}

.profit-text__paragraph {
  color: #555555;
  line-height: 18px;
}

.profit-text__title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

.catalog-main .product-footer {
  border: 1px solid #F6E9CF;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
}

.product-footer__application,
.product-footer__price-list {
  display: flex;
  align-items: center;
}

.product-footer__application-icon {
  background: url("#{$rootDir}/img/catalog/checkbox-pen-outline.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 22px;
  display: block;
  margin-right: 15px;
}

.product-footer__price-list-icon {
  background: url("#{$rootDir}/img/catalog/icon(1).svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 15px;
}

.continents-filter__main {
  margin-top: 35px;
}

.checkbox-block__icon {
  background: url("#{$rootDir}/img/catalog/plus.svg") no-repeat center;
  background-size: 100% auto;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
}

.catalog-main__filter-dropdown-text {
  color: #777;
  margin-right: 7px;
}

.catalog-main__filter-dropdown-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7EAD0;
  width: 27px;
  height: 38px;
  color: #777777;
}

.card-coins__footer-btn-counter {
  background: $primary;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 40px;
  display: flex;

  .quantity-control {
    border-radius: 0;
    width: 63px;
    height: 30px;
    position: relative;
    left: 13px;
  }

  .quantity-control-minus {
    cursor: pointer;
    border: none;
    background: url(#{$rootDir}/img/table-img/minus.svg) no-repeat center;
    background-size: 9px 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 32px;
  }

  .quantity-control-plus {
    cursor: pointer;
    border: none;
    background: url(#{$rootDir}/img/table-img/plus.svg) no-repeat center;
    background-size: 9px 11px;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 32px;
  }

  .quantity-control-num {
    width: 27px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    text-align: center;
  }

  .quantity-control-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 8px;
  }
}

.timer-mail {
  color: $primary;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}


