@import "../library.blocks/bootstrap/bootstrap-reboot";

.main .container-ordering {
  width: 816px;
}

@include media-breakpoint-between(xs,sm)  {
  .main .container-ordering {
    width: 100%;
    margin-top: 40px;
  }
}

@include media-breakpoint-only(md) {
  .main .container-ordering {
    padding-left: 30px;
    padding-right: 30px;
  }
}