@import "../library.blocks/bootstrap/bootstrap-reboot";

.form-comment {
  margin-top: 46px;

  .form-comment__title {
    font-size: 16px;
    color: #333;
    margin-bottom: 16px;
  }

  .form-comment__entry-field {
    width: 539px;
    height: 60px;
  }
}

.form-comment__container {
  flex-direction: column;
}

@include media-breakpoint-between(xs,sm) {
  .form-comment {
    padding-left: 20px;
    padding-right: 20px;

    .form-comment__entry-field {
      width: auto;
    }
  }
}