@import "../library.blocks/bootstrap/bootstrap-reboot";

main .form-time {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.form-time .form-time__first-form {
  width: 291px;
}

.form-period {
  width: 122px;
  border: 1px solid #EDE6DE;
  height: 40px;
}

.form-time__time-from {
  width: 20px;
  height: 19px;
  margin-left: 22px;
  margin-right: 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-time__text-to {
  width: 20px;
  height: 19px;
  margin-left: 15px;
  margin-right: 11px;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-time .form-control {
  color: #999999;
}

.form-period {
  padding-left: 13px;
  color: #999999;
}