@import "../library.blocks/bootstrap/bootstrap-reboot";

.form-discount .form-discount__code {
  width: 40px !important;
  height: 40px;
  margin-right: 9px;
}

.form-discount .col-form-label {
  width: 178px;
}

.form-discount .form-discount__content {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.form-discount__dash {
  background: url("#{$rootDir}/img/forms-img/dash.svg") no-repeat center;
  background-size: 100% auto;
  min-width: 11px;
  height: 19px;
  margin-right: 6px;
}

.form-discount__text {
  margin-left: 24px;
  margin-bottom: 0;
  color: #777;
  width: 384px;
  font-size: 14px;
}

.form-discount__coupon {
  color: #090F65;
  font-size: 16px;
  margin-left: 176px;
  margin-top: 21px;
  width: 178px;
}

.form-discount__details {
  width: 421px;
  display: flex;
  margin-left: 95px;
  font-size: 14px;
  margin-top: 18px;

  .form-discount__text-details {
    margin-bottom: 0;
    color: #777;

    .form-discount__text-link {
      color: #090F65;
    }
  }
}

.form-discount .form-discount__code  {
  padding-left: 10px;
  padding-right: 5px;
}

.discount-code__forms {
  display: flex;
  align-items: center;
}

.form-discount .form-discount__links {
  display: flex;
}

@include media-breakpoint-between(xs,sm) {
  .form-discount {
    padding-left: 20px;
    padding-right: 20px;

    .form-discount__content {
      flex-direction: column;
      align-items: flex-start;
    }

    .discount-code__forms {
      margin-top: 10px;
    }

    .form-discount__coupon {
      display: none;
    }

    .form-discount__text {
      margin-left: 0;
      width: auto;
      margin-top: 20px;
    }

    .form-discount__links {
      flex-direction: column;
      align-items: flex-start;
    }

    .form-discount__details {
      margin-left: 0;
      width: auto;
    }
  }
}