@import "../library.blocks/bootstrap/bootstrap-reboot";

.page-header .modal-entry {
  max-width: 600px;
  height: 495px;
  padding: 0;
}

.page-header  .modal-entry__header {
  padding: 25px 34px 0 27px;
  display: flex;
  align-items: center;

  h5 {
    font-size: 24px;
    font-weight: bold;
  }
}

.page-header .modal-entry__body {
  padding: 48px 35px 0 30px;
}

.modal-entry__btn {
  display: flex;
  justify-content: space-between;
  padding: 27px 0 29px 0 !important;
  align-items: center;
}

.modal-entry__btn-link {
  color: $secondary;
}

.page-header .modal-entry__button {
  font-size: 16px;
  width: 178px;
  height: 50px;
}

.modal-entry__footer {
  background: #FAEFDC;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.page-header .modal-entry__footer-btn {
  font-size: 16px;
  color: #090F65;
  width: 178px;
}

@include media-breakpoint-between(xs,sm) {
  .page-header .modal-entry {
    padding: 0 !important;
    height: auto;
  }

  .modal-entry__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-entry__button {
    order: 1;
  }

  .modal-entry__btn-link {
    order: 2;
    margin-top: 20px;
  }
}