@import "../library.blocks/bootstrap/bootstrap-reboot";

.ordering-forms {
  width: 820px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 68px;
}