@import "../library.blocks/bootstrap/bootstrap-reboot";

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E4E4EF;
  width: 100%;
  height: 80px;

  .subscription__text p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 50px;
  }

  .subscription__btn button {
    position: relative;
    border-radius: 0;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    span {
      position: relative;
      right: 10px;
    }
  }
}

.subscription__icon {
  background: url("../../img/footer/Shape.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 38px;
  top: 10px;
}

.footer-info {
  background: #404851;
  width: 100%;
  height: 670px;
  color: #ffffff;

  .col-3 {
    margin-top: 50px;

    h5 {
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      color: #EFEFEF;
      line-height: 28px;
    }
  }
}

.title-petersburg {
  margin-top: 42px;
}

.footer-info .col-3 .address-text {
  line-height: 20px;
  margin-top: 10px;
}

.footer-logo {
  background: url("../../img/footer/Object.svg") no-repeat center;
  background-size: 100% auto;
  width: 208px;
  height: 42px;
  margin-bottom: 20px;
}

.footer-img {
  display: flex;
  align-items: center;
  margin-top: 30px;
  .footer-img__metrika {
    background: url("../../img/footer/3_1_FFFFFFFF_FFF8E8FF_0_visits.svg") no-repeat center;
    background-size: 100% auto;
    width: 88px;
    height: 31px;
  }

  .footer-img__icon {
    background: url("../../img/footer/rating.svg") no-repeat center;
    background-size: 100% auto;
    width: 88px;
    height: 31px;
    margin-left: 33px;
  }
}

.footer-info__copyrighted {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #31373F;
  width: 100%;
  height: 50px;
  margin-top: 30px;

  p {
    margin: 0;
    font-size: 16px;
    color: #EFEFEF;
  }
}