@import "../library.blocks/bootstrap/bootstrap-reboot";

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E4E4EF;
  width: 100%;
  height: 80px;

  .subscription__text p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 50px;
  }

  .subscription__btn button {
    position: relative;
    border-radius: 0;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;

    span {
      position: relative;
      right: 10px;
    }
  }
}

.subscription__icon {
  display: block;
  background: url("#{$rootDir}/img/footer/Shape.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 38px;
  top: 10px;
}



.footer-info {
  background: #404851;
  width: 100%;
  color: #ffffff;

  .col-3 {
    margin-top: 50px;

    nav {
      display: flex;
      flex-direction: column;

      h5 {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 15px;
      }
    }
  }
}

.address-text {
  font-size: 16px;
  color: #EFEFEF;
  line-height: 28px;
}

.footer-info__link {
  font-size: 16px;
  color: #EFEFEF;
  margin-bottom: 8px;
}

.footer-info__link-compact {
  margin-bottom: 0;
}

.title-moscow {
  font-weight: bold;
}

.title-petersburg {
  margin-top: 42px;
  font-weight: bold;
}

.footer-info .col-3 .address-text {
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}


.footer-logo {
  background: url("#{$rootDir}/img/footer/Object.svg") no-repeat center;
  background-size: 100% auto;
  width: 208px;
  height: 42px;
  margin-bottom: 20px;
}

.footer-img {
  display: flex;
  align-items: center;
  margin-top: 30px;
  .footer-img__metrika {
    background: url("#{$rootDir}/img/footer/3_1_FFFFFFFF_FFF8E8FF_0_visits.svg") no-repeat center;
    background-size: 100% auto;
    width: 88px;
    height: 31px;
  }

  .footer-img__icon {
    background: url("#{$rootDir}/img/footer/rating.svg") no-repeat center;
    background-size: 100% auto;
    width: 88px;
    height: 31px;
    margin-left: 33px;
  }
}

.footer-info__title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-info__copyrighted {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #31373F;
  width: 100%;
  height: 50px;
  margin-top: 30px;

  .footer-info__copyrighted-text {
    margin: 0;
    font-size: 16px;
    color: #EFEFEF;
  }

  .footer-info__copyrighted-link {
    color: #EFEFEF;
  }
}

.footer-info {
  a:hover {
    color: #ffffff;
  }
}

.footer-info .footer-info__card {
  border: none;
  margin-bottom: 20px;
}

.footer-info .footer-info__card-header {
  background: #404851;
  border: none;
  padding: 0;
}

.footer-info .footer-info__card-body {
  background: #404851;
  border: none;
}

.footer-info .footer-info__card-btn {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

.footer-info .footer-info__card-btn:hover {
  color: #ffffff;
}

.footer-info .footer-info__card-content {
  display: none;
}

.footer-info__block {
  margin-top: 50px;
}

@include media-breakpoint-between(xs,sm) {
  .page-footer {

    .subscription {
      padding-top: 26px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .subscription__text p {
      margin-right: 0;
      margin-bottom: 44px;
    }

    .subscription__btn {
      margin-bottom: 31px;
    }

    .footer-info__card-content {
      display: block;
    }

    .footer-info__list {
      display: none !important;
    }

    .footer-info__address-piter {
      display: none !important;
    }

    .footer-info__card-btn {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #D8D8D8;
      text-decoration: none !important;
    }

    .footer-info__card-btn:after {
      display: block;
      content: '';
      background: url("#{$rootDir}/img/footer/more-btn.svg") no-repeat center;
      background-size: 100% auto;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 8px;
      right: 10px;
    }

    .footer-info__block {
      margin-top: 0;
    }

    .footer-info__block:first-child {
      margin-top: 24px;
    }

    .footer-info__block:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .footer-info__copyrighted {
      height: auto;
    }

    .footer-info__copyrighted-text {
      padding: 20px 15px;
      text-align: center;
    }
  }
}