@import "../library.blocks/bootstrap/bootstrap-reboot";

$normal-size: 16px;

.contact-info {
  border-bottom: 1px solid  rgba(216, 216, 216, 0.3);
  margin-top: 5px;

  .general-information {
    margin-bottom: -10px;

    .contact-info__location {
      display: flex;

      .contact-info__location-marker {
        background: url("../../img/header-icon/marker.svg") no-repeat center;
        background-size: 100% auto;
        width: 10px;
        height: 15px;
        margin-top: 5px;
        margin-right: 5px;
      }

      .contact-info__location-address-link {
        font-size: $normal-size;
        color: #333;
      }
    }

    .contact-info__schedule {
      display: flex;

      .contact-info__clock {
        background: url("../../img/header-icon/clock.svg") no-repeat center;
        background-size: 100% auto;
        color: #252B7F;
        width: 14px;
        height: 14px;
        margin-top: 5px;
        margin-right: 5px;
      }

      .contact-info__timetable {
        font-size: $normal-size;
        color: #333333;
      }
    }

    .contact-info__communications {
      display: flex;
      padding-right: 0;

      .contact-info__phone-call {
        color: #EBAD45;
        margin-left: 60px;
        font-size: $normal-size;
      }
      
      .contact-info__men {
        background: url("../../img/header-icon/man-user.svg") no-repeat center;
        background-size: 100% auto;
        width: 11px;
        height: 14px;
        position: relative;
        margin-top: 6px;
        margin-right: 5px;
        margin-left: auto;
      }
      
      .contact-info__email {
        color: #252B7F;
        font-size: $normal-size;
      }
    }
    
    .contact-info__balance  {
      display: flex;
      justify-content: flex-end;
      padding-left: 0;

      .contact-info__money {
        color: #EBAD45;
        font-size: $normal-size;
      }
    }
  }
}

.header-info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

  .header-info__logo {
    background: url("../../img/header-icon/logo.svg") no-repeat center;
    background-size: 100% auto;
    width: 224px;
    height: 45px;
  }

  .header-info__link {
    margin-right: 5px;
    font-size: 18px;
    color: #252B7F;
  }

  .header-info__phone {
    display: flex;
    align-items: center;

    .header-info__ellipsis {
      background: url("../../img/header-icon/Group2.svg") no-repeat center;
      background-size: 100% auto;
      width: 23px;
      height: 6px;
      align-self: center;
      position: relative;
      left: 10px;
    }

    .header-info__cellphone {
      background: url("../../img/header-icon/phone-receiver.svg") no-repeat center;
      background-size: 100% auto;
      width: 15px;
      height: 15px;
      margin-left: 20px;
      position: relative;
      left: 10px;
      bottom: 12px;
    }

    .header-info__cellphone-unauthorized {
      background: url("../../img/header-icon/phone-receiver.svg") no-repeat center;
      background-size: 100% auto;
      width: 15px;
      height: 15px;
      margin-left: 100px;
      position: relative;
      bottom: 12px;
      right: 8px;
    }

    .header-info__number {
      margin-left: 20px;

       .header-info__number-link {
         display: block;
         margin: 0;
         font-size: $normal-size;
         font-weight: bold;
         color: #333333;

         span {
           position: relative;
           bottom: 2px;
         }
       }
    }

    .header-info__star {
      display: block;
      background: url("../../img/header-icon/favorite1.svg") no-repeat center;
      background-size: 100% auto;
      width: 40px;
      height: 40px;
      margin-left: auto;
      position: relative;
      left: 20px;
    }

    .header-info__star:hover {
      display: block;
      background: url("../../img/header-icon/favorite.svg") no-repeat center;
      background-size: 100% auto;
      width: 40px;
      height: 40px;
      margin-left: auto;
      position: relative;
      left: 20px;
    }
  }

  .btn-outline-primary {
      border: 1px solid #EBAD45;
      border-radius: 20px;
      width: 173px;
      height: 41px;
      display: flex;
      align-items: center;

      .header-info__basket {
        background: url("../../img/header-icon/shopping-cart.svg") no-repeat center;
        background-size: 100% auto;
        width: 21px;
        height: 19px;
      }

      .header-info__purchases {
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .header-info__purchases-text {
          font-size: 12px;
          margin: 0;

          span {
            font-weight: bold;
            margin-left: 6px;
          }
        }
      }
  }
}

.header-info__icons {
  display: flex;
  margin-left: auto;
}

.btn-outline-primary-unauthorized {
  margin-left: auto;
  background: #fff;

  .header-info__basket-unauthorized {
    display: block;
    background: url("../../img/header-icon/shopping-cart1.svg") no-repeat center;
    background-size: 100% auto;
    width: 40px;
    height: 40px;
  }
}

.header-info__star-unauthorized {
  display: block;
  background: url("../../img/header-icon/favorite1.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
}

.header-info__star-unauthorized:hover {
  display: block;
  background: url("../../img/header-icon/favorite.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 40px;
}

.header-menu {
  background: #252B7F;
  border-bottom: 2px solid #EBAD45;
  height: 52px;
}

.header-info__number-unauthorized {
  width: 140px;

  .header-info__number-link {
    display: block;
    margin: 0;
    font-size: $normal-size;
    font-weight: bold;
    color: #333333;

    span {
      position: relative;
      bottom: 2px;
    }
  }
}

.page-header .contact-info__phone-unauthorized {
  margin-left: 140px !important;
}

.page-header  .contact-info__registration {
  color: $secondary;
  margin-left: auto;
  background: #fff;
  color: $secondary;
  overflow: hidden;
  position: relative;
  bottom: 10px;
  padding-bottom: 0;
}

.contact-info__entry {
  display: flex;
  justify-content: flex-end;
}

.page-header .contact-info__entry-btn {
  background: #fff;
  color: $secondary;
  overflow: hidden;
  position: relative;
  bottom: 10px;
  padding-bottom: 0;
}