@import "../library.blocks/bootstrap/bootstrap-reboot";


.form-payment {

  .form-payment__table {
    width: 264px;
    height: 170px;

    .form-payment__body {
      border-right: none;

      .form-payment__first-column {
        color: #333333;
        font-size: 16px;
        width: 174px;
        padding: 0;
      }

      .form-payment__second-column {
        font-size: 20px;
        color: #333;
        font-weight: bold;
        padding: 0;
      }

      .form-payment__table-footer {
        border-top: 3px solid $primary;

        .form-payment__total {
          font-weight: bold;
        }

        .form-payment__amount {
          font-size: 24px;
          font-weight: bold;
          color: $primary;
          padding-top: 10px;
        }
      }
    }
  }
}

.form-payment__last-line {

  .form-payment__second-column {
    padding-bottom: 15px !important;
  }

  .form-payment__first-column {
    padding-bottom: 15px !important;
  }
}


.form-payment__inquiry {

  .form-payment__text {
    font-size: 14px;
    margin-left: 24px;
    color: #777;
  }

  .form-payment__entry-field {
    margin-left: 24px;
    width: 254px;
  }
}

.form-payment .form-payment__check {
  padding-left: 0;

  .form-payment__check-text {
    font-size: 14px;
    color: #777777;
    width: 463px;
    margin-top: 35px;
    margin-left: 14px;
  }
}

.form-payment__btn {
  margin-bottom: 280px;
}