@import "../library.blocks/bootstrap/bootstrap-reboot";

.product-information__img {
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 482px;
  display: block;
}

.img-coin-block__border {
  border: 1px solid #E9E9E9;
}

.product-information__column {
  margin-top: 35px;
}

.product-information__images {
  display: flex;
}

.product-information__img-min {
  border: 1px solid #E9E9E9;
  background-size: 85% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 62px;
  width: 62px;
  display: block;
  margin-right: 16px;
}

.product-information__new-icon {
  width: 184px;
  height: 35px;
  background: #252B7F;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: auto;
  margin-right: 20px;
}

.product-information__price-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.product-information__big-photo {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 16px;

}

#carousel-product-page .carousel-item {
  padding: 30px 15px;
  border: 1px solid #E9E9E9
}

#carousel-product-page.carousel {
  padding-bottom: 80px;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#carousel-product-page .carousel-item {
  padding: 30px 15px;
  border: 1px solid #E9E9E9;
}

.a-t-f-p-p-icon-mobile {
  display: none;
}

#carousel-product-page .carousel-indicators {
  display: initial;
  margin: 0;
}

.list-orange-points {
  background: url("#{$rootDir}/img/product-page__main/LineCopy 2.svg") no-repeat 15px 10px;
  font-size: 18px;
  color: #333333;
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-left: 55px;
}

.link-point {
  background: none;
}

.main .button-add-cart {
  padding: 10px 20px;
}


.a-t-f-p-p-btn__img {
  background: url(#{$rootDir}/img/product-page__main/favorit.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 51px;
  display: block;
}

.a-t-f-p-p-btn:hover .a-t-f-p-p-btn__img {
  background: url(#{$rootDir}/img/product-page__main/favorite1.svg) no-repeat center;
  background-size: 100% auto;
  width: 50px;
  height: 51px;
  display: block;
}

.a-t-f-p-p-text {
  font-size: 18px;
  color: #252B7F;
  float: left;
  padding-top: 14px;
  padding-left: 14px;
}

.buy-one-click {
  padding-top: 22px;
  color: #090F65;
}

.product-information__new-price {
  font-weight: bold;
  font-size: 36px;
  color: #333;
}

.product-information__old-price {
  font-size: 20px;
  font-weight: bold;
  color: #777777;
  margin-left: 10px;
  text-decoration: line-through;
  position: relative;
  bottom: 10px;
}

.opportunities__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.characteristics-table {
  width: 100%;
}

.characteristics-table-body {
  border: none;
}

.characteristics-table__static-information {
  font-size: 16px;
  color: #777;
}

.characteristics-table__dynamic-information {
  font-size: 16px;
  color: #333333;
  line-height: 15px;
}

.product-information .characteristics-table__last-td {
  padding-top: 33px;
}

.search-main input {
  height: 40px;
  width: 80%;
  border: 1px solid #EAAC44;
  float: left;
  padding-left: 20px;
}

.search-main button {
  width: 20%;
  float: left;
  display: block;
  border-radius: 0;
  font-size: 16px;
  height: 40px;
}

.main .search-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.other-information-links__container {
  background: #FAF8F4;
  height: 110px;
  display: flex;
  align-items: center;
}

.delivery-and-pay h5 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.icon-info-link {
  padding-left: 60px !important;
}

.icon-i-b-product.a1 {
  width: auto;
  height: 38px;
  display: flex;
  align-items: center;
  border-right: 1px solid #EAAC44;
}

.icon-i-b-product.a2 {
  width: auto;
  height: 38px;
  display: flex;
  align-items: center;
  border-right: 1px solid #EAAC44;
}

.icon-i-b-product.a3 {
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
}

.other-information-links__icon-reviews {
  background: url(#{$rootDir}/img/product-page__main/testimonial.svg) no-repeat left center;
  width: 36px;
  height: 36px;
  margin-right: 14px;
}

.other-information-links__icon-guarantee {
  background: url(#{$rootDir}/img/product-page__main/certificate.svg) no-repeat left center;
  width: 42px;
  height: 38px;
  margin-right: 14px;
}

.other-information-links__icon-discounts {
  background: url(#{$rootDir}/img/product-page__main/discount.svg) no-repeat left center;
  width: 39px;
  height: 29px;
  margin-right: 14px;
}

.icon-i-b-product.a1,
.icon-i-b-product.a2,
.icon-i-b-product.a3 a {
  font-size: 18px;
}

.product-information h2 {
  font-weight: bold;
  font-size: 32px;
  color: #333;
}

.img-coin-block__list, .img-coin-block__list-nav {
  padding-left: 0;
}

.slick-initialized .slick-slide {
  display: block;
  padding-top: 0 !important;
}

.slick-list {
  padding-left: 0!important;
}

.buy-coin-count {
  padding-top: 20px;
}

.buy-coin-count__container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 575px) {

  .search-margin-x {
    margin-left: -5px !important;
    margin-right: -5px !important;
  }

  .product-information__img {
    height: 200px;
  }

  .a-t-f-p-p-icon-mobile {
    position: absolute;
    display: block;
    border: 1px solid #EAAC44;
    background: #fff;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
    padding-left: 0;
    padding-right: 0;
    right: 30px;
    bottom: 15px;
    z-index: 5;
    cursor: pointer;
  }

  .a-t-f-p-p-icon-mobile svg {
    width: 14px;
    height: 13px;
  }

  .main .search-padding {
    display: none;
  }

  .product-information h2 {
    font-size: 24px;
  }

  .product-information__new-icon, .product-information__big-photo, .product-information__images {
    display: none;
  }

  .product-information__price-rating {
    flex-direction: column;
  }

  .product-information__price {
    height: 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .product-information__old-price {
    bottom: 0;
    margin-left: 40px;
  }

  .buy-coin-count {
    padding-top: 34px;
  }

  .buy-coin-count__container {
    flex-direction: column;
    top: 10px;
  }

  .count-text {
    position: relative;
    top: 25px;
    left: 85%;
    width: 130px;
  }

  .button-add-cart img {
    display: none;
  }

  .product-information .other-capabilities {
    display: none;
  }

  .characteristics {
    padding-top: 40px;
  }

  .product-information .characteristics-table__static-information {
    padding-left: 0;
  }

  .product-information .characteristics-table__dynamic-information {
    padding-left: 40px;
  }

  .social-button__icon {
    display: flex;
    justify-content: center;
  }

  .icon-i-b-product.a1, .icon-i-b-product.a2 {
    border: none;
  }

  .other-information-links__container {
    height: auto;
  }

  .icon-info-link:nth-child(1) {
    padding-top: 20px;
  }

  .icon-info-link:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .icon-info-link:nth-child(3) {
    padding-bottom: 20px;
  }

  .other-information-links__icon-discounts {
    margin-right: 17px;
  }

  .other-information-links__icon-reviews {
    margin-right: 20px;
  }

  .icon-info-link {
    padding-left: 30px !important;
  }

  .characteristics-table__last-tr {
    vertical-align: top;
  }

}


@include media-breakpoint-only(md) {

  .search-padding {
    margin-top: 20px;
  }

  .icon-info-link {
    padding-left: 30px !important;
  }

  .other-information-links__icon-reviews, .other-information-links__icon-guarantee {
    margin-right: -8px;
  }

  .product-information__price-rating {
    flex-direction: column;
  }

  .product-information__price {
    height: 0;
  }

  .count-text {
    margin-right: auto;
  }

  .search-main button {
    padding: 0;
  }

}

@include media-breakpoint-only(lg) {
  .buy-coin-count__container {
    flex-direction: column;
    top: 10px;
  }

  .count-text {
    position: relative;
    top: 10px;
    right: 25px;
  }

  .icon-info-link {
    padding-left: 30px !important;
  }

  .search-main button {
    padding: 0;
  }
}