@import "../library.blocks/bootstrap/bootstrap-reboot";

.recommendations__content {
  position: relative;
  
  .col {
    position: relative;
  }
}

.card-coins {
  z-index: 100;
}

.card-coins__footer {
  display: flex;
  justify-content: space-between;
}

.card-coins__price {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}

.card-coins__footer-btn-star {
  display: flex;
  background: url("../../img/recommendation/favorit.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 41px;
  border-radius: 50px;
}

.card-coins__footer-btn-basket {
  background: url("../../img/recommendation/cart.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 41px;
  border-radius: 50px;
  margin-left: 5px;
}

.card-coins__text {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-bottom: 45px;
}

.card-coins__table {
  width: 100%;
  margin-top: 17px;
}

.card-coins__table-body {
  border: none;

  .card-coins__static-information,
  .card-coins__dynamic-information {
    padding-top: 0 !important;
    padding-bottom: 2px !important;
  }
  
  .card-coins__static-information {
    color: #777777;
    font-size: 14px;
    width: 115px;
  }

  .card-coins__dynamic-information {
    color: #333333;
    font-size: 14px;
    padding-left: 5px;
  }
}

.card-coins__new-icon {
  display: block;
  font-size: 10px;
  padding: 2px 23px 4px 23px;
  color: #fff;
  background: $secondary;
  width: 100px;
  height: 19px;
  position: absolute;
  top: -20px;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 100;
}

.slick-initialized .slick-slide {
  display: block;
  padding-top: 20px;
}

.card-coins__title {
  font-size: 18px;
  margin-bottom: 0;
}

.card-coins__title-link {
  color: $secondary;
  margin-bottom: 17px;
  &:hover {
    color: $secondary;
  }
}


.card-coins__link {
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
  display: block;
}