@import "../library.blocks/bootstrap/bootstrap-reboot";

.recommendations__content {
  position: relative;
  
  .col {
    position: relative;
    display: block !important;
  }
}

.card-coins {
  z-index: 300;
  margin-bottom: 40px;
  transition: all 0.1s ease;
  transition-delay: 0.1s;
}

.card-coins:hover {
  box-shadow: 0 10px 15px #aaa;
  position: absolute;
  z-index: 601;
  left: 15px;
  right: 15px;
}

.card-coins__bottom-block {
  display: none;
}

.card-coins:hover .card-coins__btn {
  display: block;
}

.card-coins:hover .card-coins__bottom-block{
  display: block;
}

.card-coins__footer {
  display: flex;
  justify-content: space-between;
}

.card-coins__price {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}

.card-coins__footer-btn-star {
  display: flex;
  background: url("#{$rootDir}/img/recommendation/favorit.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 41px;
  border-radius: 50px;
}

.card-coins__footer-btn-basket {
  background: url("#{$rootDir}/img/recommendation/cart.svg") no-repeat center;
  background-size: 100% auto;
  width: 40px;
  height: 41px;
  border-radius: 50px;
  margin-left: 5px;
}

.card-coins__footer-btn-basket:focus {
  .card-coins__footer-btn-block {
    display: none;
  }
}


.card-coins__text {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-bottom: 45px;
}

.card-coins__table {
  width: 100%;
  margin-top: 17px;
}

.card-coins__table-body {
  border: none;

  .card-coins__static-information,
  .card-coins__dynamic-information {
    padding-top: 0 !important;
    padding-bottom: 2px !important;
  }
  
  .card-coins__static-information {
    color: #777777;
    font-size: 14px;
  }

  .card-coins__dynamic-information {
    color: #333333;
    font-size: 14px;
    padding-left: 5px;
  }
}

.card-coins__new-icon {
   display: block;
   font-size: 10px;
   padding: 2px 23px 4px 23px;
   color: #fff;
   background: $secondary;
   width: 100px;
   height: 19px;
   position: absolute;
   top: -20px;
   right: 0;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   z-index: 100;
 }

.card-coins__novelty {
  display: block;
  font-size: 10px;
  padding: 2px 23px 4px 23px;
  color: $secondary;
  background: $primary;
  width: 100px;
  height: 19px;
  position: absolute;
  top: -20px;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 100;
}

.slick-initialized .slick-slide {
  display: block;
  padding-top: 20px;
}

.card-coins__title {
  font-size: 18px;
  margin-bottom: 0;
}

.card-coins__title-link {
  color: $secondary;
  margin-bottom: 17px;
  &:hover {
    color: $secondary;
  }
}


.card-coins__link {
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 170px;
  display: block;
}

.card-coins .card-coins__btn {
  display: none;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
}

.card-coins__footer-btn {
  display: flex;
}

.card-coins__bottom-description h6 {
  font-size: 14px;
  color: #777777;
  margin-top: 22px;
  font-weight: bold;
}

.card-coins__bottom-description p {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 20px;
}

.card-coins__bottom-comparison {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-coins__bottom-comparison i {
  background: url("#{$rootDir}/img/catalog/Group4.svg") no-repeat center;
  background-size: 100% auto;
  width: 23px;
  height: 16px;
  display: block;
  margin-right: 8px;
}

.card-coins__bottom-comparison a {
  font-size: 16px;
}

@include media-breakpoint-between(xs,sm) {

  .recommendations .recommendations__content__padding {
    padding-left: 0;
    padding-right: 0;
  }

  .card-coins {
    .card-coins__btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
      font-size: 16px;
      color: #090F65;
    }
  }

}