@import "../library.blocks/bootstrap/bootstrap-reboot";

.return-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.return-button__content {
  margin-left: auto;
}

@include media-breakpoint-between(xs,sm) {
  .return-button {
    display: none;
  }
}